# Firebase Admin
FIREBASE_SERVICE_ACCOUNT_KEY=
GEMINI_API_KEY=
GOOGLE_MAPS_API_KEY=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=toletbrofinal.firebaseapp.com
FIREBASE_PROJECT_ID=toletbrofinal
FIREBASE_STORAGE_BUCKET=toletbrofinal.appspot.com
FIREBASE_MESSAGING_SENDER_ID=485806582630
FIREBASE_APP_ID=
